page-pagina-resumen {
  .horas {
    padding: 20px;
    font-size: 1.3em;
  }
  .col-hora {
    border-bottom: 1px solid gray;
    text-align: center;
  }
  ion-datetime {
    margin: 0 auto;
    font-size: 1.5em;
  }
}
