page-servicio-modal {
  .sample-modal-page {
    padding: 30px;
    background: rgba(0,0,0,0.5) !important;
  }

  button{
    width: 100px !important;
    height: 35px !important;
    border: rgba(0,0,0,0.5) !important;
  }
}
