<ion-header>

  <ion-navbar color="blueGray">
    <ion-title>Servicios del Dia</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-fab top right edge #fab>
    <button ion-fab color="light">
      <ion-icon name="list"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-button small color="secondaryVariant" (click)="cerrarDia(fab)"  >Cerrar Dia</button>
      <button ion-button small (click)="nuevoServicio(fab)">Añad. Serv</button>
    </ion-fab-list>
  </ion-fab>
  <ion-card>
    <ion-item>
      <ion-label>Selecciona dia:</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="fecha" (ionChange)="obtenerServicios()"></ion-datetime>
      <ion-badge item-end color="secondary">Abierto</ion-badge>
    </ion-item>
  </ion-card>
  <ion-list>
    <ion-item-sliding #item *ngFor="let servicio of servicios ">
      <ion-item>
        <ion-card padding color="blueGray">
          <ion-card-title>
            <ion-row>
              <ion-col>{{servicio.horaInicio}}</ion-col>
              <ion-col text-right class="orden">{{servicio.orden}}</ion-col>
              <ion-col text-right class="orden">{{servicio.pax}}</ion-col>
            </ion-row>
          </ion-card-title>
          <ion-card-content>
            <ion-row>
              <ion-col><h2>{{servicio.lugarInicio}}-{{servicio.tipo}}-{{servicio.lugarFin}}</h2></ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Fin: <h1 align-self-end>{{servicio.horaFin}}</h1>
              </ion-col>
              <ion-col text-right align-self-end (click)="cambiarEstado(servicio)">
                <ion-icon name="checkmark-circle" color="secondary" *ngIf="servicio.estado == 'terminado'"></ion-icon>
                <ion-icon name="alarm" color="warning" *ngIf="servicio.estado == 'pendiente'"></ion-icon>
                <ion-icon name="close-circle" color="danger" *ngIf="servicio.estado == 'cancelado'"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options side="right">

        <button ion-button color="danger">
          <ion-icon name="trash" (click)="eliminarServicio(servicio)"></ion-icon>
          Borrar
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="light" (click)="actualizarServicio(servicio)">
          <ion-icon name="create"></ion-icon>
          Modif.
        </button>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>

</ion-content>
